<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>

	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-1.10.2.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/card.js"></script>
  </head>
  <body>
    <div class="container space_under_10">
      <div class="row">
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 center"></div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 center">
          <h1>Carte de score</h1>
        </div>
        <div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 center"></div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <div class="center">
            <h5>Hole {{ hole }}</h5>
          </div>
          
          <form>
            <div class="space_under_10" id="card_content">
            </div>
        </form>
        </div>
      </div>
    </div>
    <script>
      $( document ).ready(function() {
        var users = new Array();
        var i=0;
        {% for s in scores %}
          users[i] = '{{ s[0] }}';
          i++;
        {% endfor %}
        createCardForm({{ hole }}, {{ scores|length }}, users);
      });
    </script>
  </body>
</html>